*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
html.theme-1 {
  --background: #004225;
  --text: #ffcf9d;
}

html.theme-2 {
  --background: rgb(18 135 55);
  --text: rgb(251 233 69);
}

html.theme-3 {
  --background: #321206;
  --text: #e66515;
}

html.theme-4 {
  --background: #f6f6f6;
  --text: #2a2a2a;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: var(--text);
  background: var(--background);
  margin: 0px;
  border: 5px solid currentColor;
  min-height: 100dvh;
}

@media (max-width: 640px) {
  body {
    border: none;
  }
}

a {
  color: var(--text);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  text-underline-offset: 0.2em;
}

.container {
  max-width: 768px;
  margin: 0 auto;
}

@media (max-width: 640px) {
  .container {
    padding: 0 0.5rem;
  }
}

header {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding: 1rem 0;
  margin-bottom: 2rem;
  font-size: 0.9rem;
  text-underline-offset: 0.2rem;
  border-bottom: 3px solid currentColor;
}

@media (max-width: 640px) {
  header {
    padding: 1rem 0.5rem;
  }
}

header select {
  font-size: 0.9rem;
  padding: 0.5rem;
  border: 1px solid currentColor;
  border-radius: 0.25rem;
  background: transparent;
  color: inherit;
  appearance: none;
  margin-right: 0.5rem;
}

@media (max-width: 640px) {
  header select {
    display: none;
  }
}

header a {
  text-decoration: none;
}

header a:hover {
  text-decoration: underline;
}

header .main-link {
  font-size: 1.5rem;
  text-decoration: none;
  font-weight: 600;
}

header > * {
  display: block;
}

.introduction {
  font-size: 1.8rem;
  text-wrap: pretty;
  padding: 1rem 2.5rem;
  margin-bottom: 4rem;
  background-color: var(--text);
  color: var(--background);
  font-weight: 900;
}

@media (max-width: 640px) {
  .introduction {
    padding: 1rem;
  }
}

.posts {
  list-style: none;
  padding: 0;
}

.posts li {
  margin-bottom: 1rem;
}

.posts li span {
  font-size: 0.8rem;
}

.posts li div {
  font-size: 1.4rem;
  font-weight: 600;
}

.post-title {
  font-size: 3.5rem;
  font-weight: 600;
  text-wrap: balance;
  margin-top: 4rem;
  margin-bottom: 0;
}

.post-date {
  margin-bottom: 4rem;
}

.post {
  font-size: 1.2rem;
}

.post p {
  text-wrap: pretty;
  line-height: 1.5;
  margin: 2.5em 0;
}

.post a {
  text-decoration: underline;
  text-underline-offset: 0.2em;
}

.post figure {
  margin: 3rem 0;
}

.post figure img {
  max-width: 100%;
  display: block;
  margin: 1rem auto;
}

.post figure figcaption {
  font-size: 0.8rem;
  text-align: center;
  color: #9b9b9b;
}

.post img {
  max-width: 100%;
  display: block;
  margin: 3rem 0;
}

.post ol,
.post ul {
  margin: 2.5em 0;
  padding-left: 2em;
}

.post li {
  margin: 0.5em 0;
}

.post h2 {
  font-size: 2.5rem;
  font-weight: 600;
  margin: 4rem 0 2rem;
  text-wrap: balance;
}

.post blockquote {
  margin: 2.5em 0;
  padding: 1em 0 1em 2em;
  border-left: 0.5em solid currentColor;
  font-style: italic;
}

.post blockquote p {
  margin: 0;
}

.post details {
  margin: 2.5em 0;
  padding: 1em;
  border: 1px solid currentColor;
}

code[class*="language-"],
pre[class*="language-"] {
  font-family: Consolas, Menlo, Monaco, "Andale Mono WT", "Andale Mono",
    "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono",
    "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L",
    "Courier New", Courier, monospace;
  line-height: 1.375;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  tab-size: 4;
  hyphens: none;
  background: #2a2734;
  color: #9a86fd;
}

pre[class*="language-"]::selection,
pre[class*="language-"] ::selection,
code[class*="language-"]::selection,
code[class*="language-"] ::selection {
  text-shadow: none;
  background: #6a51e6;
}

pre[class*="language-"] {
  padding: 1em;
  margin: 0.5em 0;
  overflow: auto;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata,
.token.punctuation {
  color: #8d88a3;
}

.token.namespace {
  opacity: 0.7;
}

.token.tag,
.token.operator,
.token.number {
  color: #e09142;
}

.token.property,
.token.function {
  color: #9a86fd;
}

.token.tag-id,
.token.selector,
.token.atrule-id {
  color: #eeebff;
}

code.language-javascript,
code.language-tsx,
.token.attr-name {
  color: #c4b9fe;
}

.code.language-css,
.code.language-scss,
.token.boolean,
.token.string,
.token.entity,
.token.url,
.language-css .token.string,
.language-scss .token.string,
.token.attr-value,
.token.keyword,
.token.control,
.token.directive,
.token.unit,
.token.statement,
.token.regex,
.token.atrule,
.token.placeholder,
.token.variable {
  color: #ffcc99;
}

.token.deleted {
  text-decoration: line-through;
}

.token.inserted {
  border-bottom: 1px dotted #eeebff;
  text-decoration: none;
}

.token.italic {
  font-style: italic;
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.important {
  color: #c4b9fe;
}

.token.entity {
  cursor: help;
}

pre > code.highlight {
  outline: 0.4em solid #c4b9fe;
  outline-offset: 0.4em;
}

.line-numbers.line-numbers .line-numbers-rows {
  border-right-color: #2a2734;
}

.line-numbers .line-numbers-rows > span:before {
  color: #3d3a4b;
}

.line-highlight.line-highlight {
  background: rgba(224, 145, 66, 0.2);
}

:not(pre) > code {
  font-family: Consolas, Menlo, Monaco, "Andale Mono WT", "Andale Mono",
    "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono",
    "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L",
    "Courier New", Courier, monospace;
  border: 1px solid currentColor;
  padding: 0.1em 0.2em;
  border-radius: 2px;
  white-space: nowrap;
}

a > code {
  text-underline-offset: auto;
}
