---
layout: base.liquid
---

<p class="introduction">Hi, I'm Giorgio Polvara.<br/>I like to code things for the web and I sometimes write down what I discovered.</p>

<ol class="posts">
  {% for post in collections.post reversed %}
    <li>
      <span>{{ post.page.date | date }}</span>
      <div>
        <a href="{{ post.page.url }}">
          {% if post.data.favorite %}⭐️{% endif %}
          {{ post.data.title }}
        </a>
      </div>
    </li>
  {% endfor %}
</ol>