@charset "utf-8";

* { box-sizing: border-box; }

body {
  margin: 0 auto;
  max-width: 50em;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5;
  color: #555;
}

h1,
h2,
strong {
  color: #333;
}

a {
  color: #fe4365;
}

a:visited {
  color: #fc9d9a;
}

a:visited:hover {
  color: #fe4365;
}

.index .header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100vw;
  height: 70vh;
  left: calc(-50vw + 50%);
  margin-bottom: 5rem;
  background-image: linear-gradient(120deg, rgba(254, 67, 101, 0.4), rgba(131, 175, 155, 0.5)),
                    url('../images/header.jpeg');
  background-size: cover;
  background-position: 50% 65%;
  line-height: 1;
}

.index .header h1 {
  margin: 0;
  font-size: 4rem;
  letter-spacing: .07em;
  color: #fff;
  text-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  font-smoothing: subpixel-antialiased;
  -webkit-font-smoothing: subpixel-antialiased;
}

.index .header h1 + p {
  margin: 0.5em auto 0.9em auto;
  font-size: 2.0em;
  color: #fe4365;
  text-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
  font-smoothing: subpixel-antialiased;
  -webkit-font-smoothing: subpixel-antialiased;
}

.articles {
  margin-bottom: 5rem;
}

.article {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.4rem;
  line-height: 2.8;
}

.article time {
  font-size: 1rem;
}
