<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title | default: "polvara.me" }}</title>
    <link rel="stylesheet" href="/bundle.css" />
    <meta name="theme-color" content="#FF0000" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/apple-touch-icon.png" />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/favicon-32x32.png" />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
  </head>
  <body>
    <div class="container">
      <header>
        <a href="/" class="main-link">polvara.me</a>
        <a href="https://twitter.com/Gpx">Find me on X</a>
      </header>
      {{ content }}
    </div>
  </body>
</html>