---
layout: base.liquid
---

<h1 class="post-title">{{ title }}</h1>
<div class="post-date">
  {% if showLastModified %}
    Last modified: {{ page.date | date }}
  {% else %}
    {{ page.date | date }}{% if favorite %}
      &middot; This post is popular! ⭐️{% endif %}
  {% endif %}
</div>

<main class="post">
  {{ content }}
</main>

<footer>
  Would you like to have a civil discussion about this post?
  <a
    href="https://twitter.com/Gpx"
    target="_blank"
    rel="noopener noreferrer">Hit me up on X</a>.
</footer>