article {
  margin: 4em 0;
  text-align: justify;
  hyphens: auto;
  hyphenate-limit-chars: 6 3 2;
  hyphenate-limit-lines: 2;
  hyphenate-limit-last: always;
  text-decoration-skip-ink: auto;
}

article h1 {
  font-size: 1.5rem;
  margin: 3em 0;
  text-align: center;
  hyphens: none;
}

article h2 {
  text-align: left;
  font-size: 1.3rem;
  margin: 2em 0 1em 0;
}

article p:first-child::first-line {
  font-weight: 600;
}

article a {
  text-decoration: underline;
}

article figure {
  margin: auto;
  margin-bottom: 3em;
  text-align: center;
}

article img {
  max-width: 100%;
}

article figcaption {
  text-align: center;
  font-style: italic;
  border-bottom: 1px solid #000a;
}

hr {
  border: none;
  height: 3px;
  width: 3px;
  background: #000000aa;
  border-radius: 50%;
  margin: 2em auto;
}

hr::before,
hr::after {
  position: absolute;
  content: "";
  display: inline-block;
  height: 3px;
  width: 3px;
  background: #000000aa;
  border-radius: 50%;
  padding: 0;
}

hr::before {
  transform: translateX(-1em);
}

hr::after {
  transform: translateX(1em);
}

article .highlight {
  text-align: left;
  hyphens: initial;
  font-size: 1.3em;
  color: #666;
  margin: 1.7em;
  font-weight: 100;
  padding-bottom: 0.5em;
  border-bottom: 3px solid #3f51b5;
}

article ul {
  text-align: left;
  hyphens: none;
}

article li {
  margin-bottom: 0.5em;
}

details.tldr {
  border: 1px solid #0003;
  padding: 0.4em 1em;
  margin-bottom: 4rem;
}

details summary {
  cursor: pointer;
}

twitter-widget {
  margin: 2em auto !important;
}
