*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "EB Garamond", Palatino, Palatino Linotype, Palatino LT STD,
    Book Antiqua, Georgia, serif;
  font-size: 19px;
  color: #333;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: #3f51b5;
}
