*,
*::before,
*::after {
  box-sizing: border-box;
}

::selection,
:not(pre) code[class*="language-"]::selection {
  background: #03a9f433;
}

html {
  font-size: 19px;
}

body {
  font-family: "EB Garamond", Palatino, Palatino Linotype, Palatino LT STD,
    Book Antiqua, Georgia, serif;
  color: #333;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: currentColor;
}
