.follow {
  padding: 4rem 2rem;
  text-align: center;
  background: var(--tertiary);
  background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23e9edfc' fill-opacity='0.05'%3E%3Cpath d='M36 34v-4h-2v4h-4v2h4v4h2v-4h4v-2h-4zm0-30V0h-2v4h-4v2h4v4h2V6h4V4h-4zM6 34v-4H4v4H0v2h4v4h2v-4h4v-2H6zM6 4V0H4v4H0v2h4v4h2V6h4V4H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.follow h2 {
  font-size: 1.8rem;
  margin: 2rem;
  color: var(--tertiary-on-color);
}

.subscription {
  border: 4px solid var(--dark);
  border-radius: 5px;
  box-shadow: 8px 8px var(--dark);
}

.social {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  max-width: 500px;
  margin: auto;
  grid-gap: 3rem;
}

@media (max-width: 768px) {
  .social {
    grid-template-columns: repeat(2, 1fr);
  }
}

.social a {
  place-self: center;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  font-size: 3rem;
  height: 5rem;
  width: 100%;
  border-radius: 5px;
  border: 4px solid var(--dark);
  box-shadow: 8px 8px var(--dark);
  transition: 0.2s;
}

.social a svg {
  height: 90%;
}

.social a:hover {
  transform: translate(1px, 1px);
  box-shadow: 7px 7px var(--dark);
}

.social a:active {
  transform: translate(8px, 8px);
  box-shadow: 0 0 var(--dark);
}
