<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }}</title>
  <link rel="author" href="humans.txt" />

  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/bootstrap-responsive.min.css">
  <link rel="stylesheet" href="css/prettify.css">
</head>
<body onload="prettyPrint()">
  <div class="container-fluid">
    <div class="navbar">
      <div class="navbar-inner">
        <a href="/" class="brand">Me am banana</a>
      </div>
    </div>
    {{ content }}
    <footer>
      <hr>
      <address itemscope itemtype="http://schema.org/Person">
        <strong itemprop="name">Giorgio Polvara</strong><br>
        <a itemprop="email" href="mailto:&#112;&#111;&#108;&#118;&#97;&#114;&#97;&#64;&#103;&#109;&#97;&#105;&#108;&#46;&#99;&#111;&#109;">&#112;&#111;&#108;&#118;&#97;&#114;&#97;&#64;&#103;&#109;&#97;&#105;&#108;&#46;&#99;&#111;&#109;</a>
      </address>
    </footer>

    <script src="js/prettify.js"></script>
  </div>
</body>
</html>