<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }}</title>
  <link rel="author" href="humans.txt" />

  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/bootstrap-responsive.min.css">
  <link rel="stylesheet" href="css/prettify.css">
</head>
<body onload="prettyPrint()">
  <div class="navbar navbar-static-top">
    <div class="navbar-inner">
      <a href="/" class="brand">Me am banana</a>
      <ul class="nav pull-right">
        <li><a href="http://feeds.feedburner.com/MeAmBanana"><img src="images/glyphicons_417_rss.png" class="icon-"> RSS</a></li>
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    {{ content }}
    <footer>
      <hr>
      <a href="http://creativecommons.org/licenses/by/3.0/" class="pull-right" target="_blank">CC BY 3.0</a>
      <address itemscope itemtype="http://schema.org/Person">
        <strong itemprop="name">Giorgio Polvara</strong>
        <a itemprop="email" href="mailto:&#112;&#111;&#108;&#118;&#97;&#114;&#97;&#64;&#103;&#109;&#97;&#105;&#108;&#46;&#99;&#111;&#109;" target="_blank"><img src="images/glyphicons_419_e-mail.png"></a>
        <a href="http://github.com/Gpx"><img src="images/glyphicons_401_github.png"></a>
        <a href="http://www.linkedin.com/profile/view?id=209476348"><img src="images/glyphicons_397_linked_in.png"></a>
      </address>
    </footer>
  </div>

  <script src="js/prettify.js"></script>
</body>
</html>