<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }}</title>
  <link rel="author" href="humans.txt" />

  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/bootstrap-responsive.min.css">
  <link rel="stylesheet" href="css/prettify.css">
  <link rel="stylesheet" href="css/style.css">
</head>
<body onload="prettyPrint()">
  <div class="container-fluid">
    {{ content }}
    <footer>
      <hr>
      <a href="http://creativecommons.org/licenses/by/3.0/" class="pull-right" target="_blank">CC BY 3.0</a>
      <address itemscope itemtype="http://schema.org/Person">
        <a itemprop="email" href="mailto:&#112;&#111;&#108;&#118;&#97;&#114;&#97;&#64;&#103;&#109;&#97;&#105;&#108;&#46;&#99;&#111;&#109;" target="_blank" title="Email"><img src="img/Other-Mail-alt-Metro-icon.png"></a>
        <a href="http://github.com/Gpx"><img src="img/github-icon.png" title="GitHub"></a>
        <a href="http://www.linkedin.com/profile/view?id=209476348" title="LinkedIn"><img src="img/linkedin-icon.png"></a>
        <a href="http://feeds.feedburner.com/MeAmBanana" title="RSS feed"><img src="img/rss-icon.png"></a>
        <strong itemprop="name">Giorgio Polvara</strong>
      </address>
    </footer>
  </div>

  <script src="js/prettify.js"></script>
</body>
</html>