:root {
  --main: hsl(130deg 60% 50%);
  --dark: hsl(0 0% 0%);
  --text: var(--dark);
  --accent: hsl(315deg 75% 50%);
  --accent-on-color: hsl(315deg 75% 95%);
  --secondary: hsl(15deg 75% 50%);
  --secondary-on-color: hsl(15deg 75% 95%);
  --tertiary: hsl(225deg 75% 50%);
  --tertiary-on-color: hsl(225deg 75% 95%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

::selection,
:not(pre) code[class*="language-"]::selection {
  background: #03a9f433;
}

html {
  font-size: 16px;
}

body {
  font-family: "Public Sans", sans-serif;
  color: var(--text);
  line-height: 1.5;
  margin: 0;
}

a {
  text-decoration: none;
  color: currentColor;
}
